#cloud-config
users:
  - name: "{{ aws_user }}"
    groups: sudo, wheel
    #passwd: $6$i4n30lvsYNOHzpKG$tu0nuzwQ.Dd6Fsyebxt3/6Kb9jSZpzL.lNPy2u4z2VI8JmhSmKOobHGGIIrWs5flmxf1f/Rw3ANSZuDoE/fF/0
    ssh_authorized_keys: 
      - "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"
    sudo: ALL=(ALL) NOPASSWD:ALL
    