<!DOCTYPE html>
<html>
<head>
  <title>Hello world.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>body {font: normal 18px Arial; margin: 4em;}</style>
</head>
<body>
  <h2>
    Hello world.
  </h2>
  <p>
    Private IP: {{ ansible_default_ipv4['address'] }}<br />
    Interface: {{ ansible_default_ipv4['interface'] }}<br />
    MAC Address: {{ ansible_default_ipv4['macaddress'] }}<br />
    BIOS Version: {{ ansible_bios_version }}<br />
    Kernel Version: {{ ansible_kernel }}<br />
    User: {{ ansible_user_id }}<br />
  </p>
</body>
</html>
