<!DOCTYPE html>
<html>
<head>
  <title>Hello world.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>body {font: normal 18px Arial; margin: 4em;}</style>
</head>
<body>
  <h2>
    Hello world.
  </h2>
  <p>
    Private IP: {{ ansible_eth1['ipv4']['address'] }}<br />
    DNS Server: {{ ansible_dns['nameservers'][0] }}<br />
    Kernel: {{ ansible_kernel }}<br />
    Gateway: {{ ansible_date_time['iso8601'] }}<br />
  </p>
</body>
</html>
