[Unit]
Description=Consul Cluster Agent
After=cluster_proxy.service

[Service]
Type=simple
ExecStart=/usr/local/bin/consul agent -server -data-dir=/tmp/consul -node={{ inventory_hostname }} -bind={{ ansible_eth1.ipv4.address }} -config-dir=/etc/consul.d -enable-script-checks=true
Restart=always

[Install]
WantedBy=multi-user.target
