<!DOCTYPE html>
<html>
<head>
  <title>Hello world.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>body {font: normal 18px Arial; margin: 4em;}</style>
</head>
<body>
  <h2>
    Hello world.
  </h2>
  <p>
    Interface: {{ ansible_default_ipv4['interface'] }}<br />
    Private IP: {{ ansible_default_ipv4['address'] }}<br />
    Public IP: {{ ansible_all_ipv4_addresses[1] }}<br />
    Gateway: {{ ansible_default_ipv4['gateway'] }}<br />
  </p>
</body>
</html>
